<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Data.SQLite"/>
      </assemblies>
    </compilation>
  </system.web>

  <connectionStrings>
    <add name="ConnString"
         connectionString="Data Source=|DataDirectory|\EmployeeDB.sqlite;Version=3;Foreign Keys=True;"
         providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
